/*----font*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
 
:root{
   --maincolor: rgb(74, 156, 92);
   --bgdark :#2b2c2f;
   --shadow-black-100 : 0 5px 15px rgba(0,0,0,0.1);
   --shadow-black-300 : 0 5px 15px rgba(0,0,0,0.3);
   --black-900: #000000;
   --black-400: #555555;
   --black-100: #f7f7f7;
   --black-000: #ffffff;
   --black-alpha-100: rgba(0,0,0,0.5);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
} 
.container{
  background-color: #ffffff;
  position: relative;
  /* max-width: 1000px; */
  width: 100%;
  height: 670px;
  border-radius: 6px;
  padding: 30px;
  margin: 0 15px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.container header{
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.container header::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 27px;
  border-radius: 8px;
  background-color: var(--maincolor);
}
form{
  width: 100%;
  height: 100%;
  position: relative;
  margin: 30px auto 0 auto;
}
.row{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-gap: 20px 30px;
  margin-bottom: -20px;
}
label{
  color: var(--black-900);
  font-size: 14px;
}
textarea,
input{
  width: 100%;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.2px solid var(--black-400);
  margin-top: 5px;
}
textarea{
  width: 100%;
  height: 170px;
  resize: none;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.2px solid var(--black-400);
  margin-top: 5px;

}
textarea:focus,
input:focus{
  outline: none;
  border-color: var(--maincolor);
}
button{
  border: none;
  padding: 10px 20px;
  background: var(--maincolor);
  color: #ffffff;
  border-radius: 3px;
}
#id_kategori{
  width: 100%;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.2px solid var(--black-400);
  margin-top: 5px;
}
#role{
  width: 100%;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.2px solid var(--black-400);
  margin-top: 5px;
}
.btn btn-primary{
  border: none;
  padding: 10px 20px;
  background: var(--maincolor);
  color: #ffffff;
  border-radius: 3px;
}